<div id="main-container">
  <div id="game-wrapper">
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
    <app-calculator-item></app-calculator-item>
  </div>
</div>
