<mat-toolbar id="dialog-header-change-name">
  <span>Change Name</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onCancel()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form #addForm="ngForm" (ngSubmit)="onConfirm(addForm)">
  <mat-form-field>
    <mat-label for="newName">New Name</mat-label>
    <input matInput type="text" name="name" ngModel id="name" required />
  </mat-form-field>
  <button [disabled]="addForm.invalid" type="submit" mat-button color="primary">
    Confirm
  </button>
</form>
